# Предусловия
*.d

# Объектные файлы
*.o
*.ko
*.obj
*.elf

# Вывод компоновщика
*.ilk
*.map
*.exp

# Предкомпилированные заголовки
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Динамические объекты (включая Windows DLL)
*.dll
*.so
*.so.*
*.dylib

# Исполнимые файлы
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Отладочные файлы
*.dSYM/
*.su
*.idb
*.pdb
